@use '@/styles/_variable_color' as *;
@use '@/styles/_variable_font' as font;

.list {
  // display: grid;
  // grid-template-columns: repeat(4, 1fr);
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // gap: 40px;

  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}
