.item {
  box-shadow: 0px 6px 8px 0px #0000004f;
  transition: all 0.2s ease-in-out;
}
.item:hover {
  box-shadow: 0px 2px 6px 0px #0000004f;
  transform: translateY(4px);
}

.item a {
  display: inline-block;
  padding: 12px;
  border: 1px solid darkslategray;
}
