.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.item {
  border: 1px solid #00000058;
  box-shadow: 0px 6px 8px 0px #0000004f;
}

.item img {
  display: block;
  width: 100%;
  height: auto;
}

.title {
  font-size: 20px;
}
.author {
  font-size: 14px;
  color: dimgrey;
}
.btn {
  padding: 8px;
  border: 1px solid darkslategrey;
}
